/*
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/


/*
--------------------------
- Default Typography
--------------------------
*/
body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #000;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

h1 {
    font-size: 72px;
    line-height: 90px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
    color: #878787;
}

p img {
    margin: 0;
}

span {
    font-family: 'Poppins', sans-serif;
}


/* em and strong */

em {
    font: 15px/30px;
}

strong,
b {
    font: 15px/30px;
}

small {
    font-size: 11px;
    line-height: inherit;
}


/*  blockquotes */
blockquote {
    border-left: 0 none;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
    padding-left: 40px;
    position: relative;
}

blockquote::before {
    color: #4e5665;
    content: "ï„";
    font-family: FontAwesome;
    font-size: 36px;
    left: 20px;
    line-height: 0;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    top: 20px;
}

blockquote p {
    font-style: italic;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
}

blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
    color: #8B9798;
    border: none
}


/* abbreviations */
abbr {
    color: #444;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .6px;
}

abbr:hover {
    cursor: help;
}


/* links */
a,
a:visited {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    outline: 0;
}

a {
    color: #444;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

a:hover,
a:active {
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}

/* list */

ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

ol {
    list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 0px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 0px;
}

li {
    line-height: 18px;
    margin-bottom: 0px;
}


/* definition list */
dl {
    margin: 12px 0;
}

dt {
    margin: 0;
    color: #11ABB0;
}

dd {
    margin: 0 0 0 20px;
}

button {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


/*
--------------------------
- Custom Typography
--------------------------
*/


/* google fonts import area here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Saira:wght@400;500;600;700;800;900&display=swap');

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Saira', sans-serif;
*/

/* Download fonts area here  */

/*
    font-family: 'Raylig';
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    background: var(--black);
}
img {
    max-width: 100%;
}

/* color code */
:root{
    --secondColor: #FEED01;
    --secondHover: rgba(255, 240, 110, 0.6);
    --black: #191A1C;
    --mainWhite: #FAFCFF;
}

.container{
    max-width: 1398px;
    padding-left: 15px;
    padding-right: 15px;

}

.row{
    margin-left: 0;
    margin-right: 0;
}
.row>* {
    padding-left: 15px;
    padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
    color: var(--mainWhite);
    font-family: 'Saira', sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: 500;
    font-family: 'Saira', sans-serif;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

h1 {
    font-size: 80px;
    line-height: 126px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    line-height: 100%;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}

p {
    font-size: 23px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: .6px;
    margin: 0;
    color: var(--mainWhite);
    font-family: 'Inter', sans-serif;
}

a, 
span{
    font-family: 'Inter', sans-serif;
    color: var(--mainWhite);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
li a {
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

}
button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
button:focus {
    outline: none;
    border: none;
}

/* common style  */

/* Your Custom Typography. */